@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #2C2D61;
  color: #D4D0FF;
  position: relative;
}

img{
  width: 100%;
  max-width: 90%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#home-page {
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 100px 73px 0 73px;
}

#about-page {
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left: 73px;
}

#scotia-empower-page {
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left: 73px;
}

/* Declaring the fonts */

.dm-sans-title {
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dm-sans-header{
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  left: 72px;
  margin-top: 3em;
}

.dm-sans-subheader1{
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 12px 0 0 0;
}

.dm-sans-subheader2{
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin: 12px 0 0 0;
}

.dm-sans-subheader3{
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin: 12px 0 0 0;
}

.dm-sans-date{
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 12px 0 0 0;;
}

.dm-sans-menu {
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#about-page .dm-sans-date{
  margin-top: 58px;
}

.homebackground{
  position: absolute;

  height: 100%;
  width: 100%;

  background-image: url('media/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homebackground__transition{
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #302D62 100%);
  height: 25%;
  width: 100%;
  bottom: 0;
}

/* Menu styling goes here */

#nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#nav li {
  margin: 0 50px;
  }

#nav a {
  text-decoration: none; 
  padding:46px 28px;
  display: inline-block;
  }

  /* nav.menu is not properly centered
  */
.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 103px;
  display: flex;
  background: linear-gradient(0deg, rgba(47, 45, 97, 0.00) 0%, rgba(47, 45, 97, 0.30) 13%, rgba(47, 45, 97, 0.60) 29%, rgba(47, 45, 97, 0.80) 53.5%, #2F2D61 100%);
  z-index: 1000;
  align-items: center;
}

.icon{
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.off-screen-menu{
  border-radius: 3px;
  background: rgba(47, 45, 97, 0.90);
  max-width: 75%;
  padding: 5% 0;;
  text-align: end;
  position: fixed;
  top: -100%;
  right: 0;
  flex-direction: column;
  font-size: 3rem;
  transition: 1s ease;
}

.off-screen-menu ul {
  margin: 0;
  padding: 50px 70px 20px 30px;
  list-style: none;
  height: 95%;
}

.off-screen-menu a {
  text-decoration: none;
  }

.off-screen-menu.active{
  top: 0;
}

.ham-menu{
  height: 25px;
  width: 25px;
  top: 46px;
  right: 25px;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  display: none;

  &:active{
    scale: 0.95;
  }
}

.ham-menu span{
  height: 3px;
  width: 100%;
  background-color: #D4D0FF;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5 ease;
}

.ham-menu span:nth-child(1){
  top: 25%;
}

.ham-menu span:nth-child(3){
  top: 75%;
}

.ham-menu.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
  opacity: 0;
}

.ham-menu.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Page content goes here */

.main-carousel__track-container{
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
}

.main-carousel__track{
  display: flex;
  text-decoration: none; 
  transition: transform 500ms ease-in;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  /*white-space: nowrap;*/
  box-sizing: border-box;
}

.homepage-container{
  width: 100%;
  border-radius: 10px;
  height: 83%;
  padding: 10% 25px 0 25px;
  backdrop-filter: blur(0px);
  display: flex;
  box-sizing: border-box;
}

.homepage-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.5fr 1fr 1fr;
  align-items: center;
}

.homepage-grid2{
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 0 3rem;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.status{
  width: 100%;
  height: 5px;
  background: rgba(245, 245, 245, 0.30);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.status-filled{
  height: 100%;
  background: #F5F5F5;
}

.controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev{
  background: url('back.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 36px;
  height: 39px;
  cursor: pointer;
  border: none;

  &:active{
    scale: 0.95;
  }
}

.play{
  background: url('play.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 36px;
  height: 39px;
  cursor: pointer;
  border: none;

  &:active{
    scale: 0.95;
  }
}

.next {
  background: url('next.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 36px;
  height: 39px;
  cursor: pointer;
  border: none;

  &:active{
    scale: 0.95;
  }
}

.carousel{
  display: grid;
  width: 100%;
  gap: 3%;
  grid-auto-flow: column; 
  grid-auto-columns: 19%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

#about-page .carousel{
  height: 140px;
  grid-auto-columns: 21%;
}

.carousel img{
  max-width: 100%;
}

.carousel::after {
  content: '';
  display: block;
  width: 36px; /* Spacer width */
  flex-shrink: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item{
  align-items: start;
}

.carousel-box {
  position: relative;
  border-radius: 10px;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.carousel-box__about{
  position: relative;
  background: #5B5C8C;
  border-radius: 10px;
  height: 100%;
  padding: 0 30px;
}

.carousel-box .play{
  background: url('play-circle-purple.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: none;
  margin-top: 17px;
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-50%, -50%);

  &:active{
    scale: 0.95;
  }
}

.carousel-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
  scroll-padding-inline: 72px;
}

.about-grid-container{
  top: 1px;
  padding: 0;
  width: calc(100% - 146px);
  bottom: 100px;
  backdrop-filter: blur(5px);
  display: flex;
  box-sizing: border-box;
}

.about-grid{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem 3rem;
  align-items: center;
  flex-grow: 1;
}

#scotia-empower-page .about-grid{
  grid-template-columns: 1fr 4fr;
}

.headshot-about{
  background: #fff;
  border-radius: 10px;
  width: 100%;
  padding-top: 100%;
}

.about-grid .play{
  background: url('play-circle.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-top: 17px;

  &:active{
    scale: 0.95;
  }
}

.project-breakdown-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  align-items: center;
  flex-grow: 1;
}

.project-description-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem 3rem;
  flex-grow: 1;
  align-items: center;
}

.project-description-grid .left-column{
  align-self: start;
}

.project-description-grid .right-column{
  align-self: center;
}

/* Footer Syling */

.footer-divider{
  width: calc(100% - 73px);
  height: 3px;
  left: 5%;
  background: rgba(255, 255, 255, 0.30);
  margin-top: 8em;
}

.footer-grid{
  width: 94%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  flex-grow: 1;
  margin-top: 1em;
}

.footer-icons{
  display: flex;
  justify-self: end;
  gap: 2rem;
}

.footer-icons .email{
  background: url('email.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 54px;
  height: 54px;
  cursor: pointer;
  border: none;

  &:active{
    scale: 0.9;
  }
}

.footer-icons .linkedin{
  background: url('linkedin.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 54px;
  height: 54px;
  cursor: pointer;
  border: none;

  &:active{
    scale: 0.9;
  }
}

.footer-icons .github {
  background: url('github.png') no-repeat center center;
  background-color: transparent;
  background-size: contain;
  width: 54px;
  height: 54px;
  cursor: pointer;
  border: none;

  &:active{
    scale: 0.9;
  }
}

.footer-end{
  height: 2em;
}

/* Mobile view adjustments here */

@media (max-width: 1000px) {
  #home-page {
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 0 25px;
  }
  
  #about-page {
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 0 25px;
  }
  
  #scotia-empower-page {
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 0 25px;
  }

  img{
    max-width: 100%;
  }

  .homebackground{
    z-index: 1;
  }

  .homebackground__transition{
    z-index: 2;
  }

  .dm-sans-title {
    font-size: 35px;
    margin: 0;
  }

  .dm-sans-header {
    font-size: 28px;
    margin-top: 2.5em;
  }

  .dm-sans-subheader1{
    font-size: 17px;
    font-weight: 300;
  }

  .dm-sans-subheader2{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }

  .dm-sans-date{
    font-size: 13px;
  }
  
  .dm-sans-subheader3{
    font-size: 14px;
    margin: 0;
  }

  #nav {
    display: none;
  }

  .nav-menu {
    height: 50px;
  }

  .ham-menu {
    top: 12px;
    display: flex;
  }

  .homepage-container{
    width: 100%;
    height: 90%;
    padding: 0 25px 0 25px;
  }
  
  .homepage-grid{
    gap: 1.5em;
    grid-template-rows: 6fr 1fr 1fr;
    z-index: 3;
  }
  
  .homepage-grid2{
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .carousel{
    gap: 4%;
    width: 100%;
    grid-auto-flow: column; 
    grid-auto-columns: 45%; 
  }

  .carousel-box .play{
    width: 35px;
    height: 35px;
    left: 18%;
    top: 74%;
  }

  #about-page .carousel{
    height: 145px;
    grid-auto-columns: 50%;
  }

  .about-grid{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .about-grid-container{
    width: 100%;
  }

  #scotia-empower-page .about-grid{
    grid-template-columns: 1fr;
  }

  #about-page .dm-sans-date {
    margin-top: 25px;
  }

  .project-breakdown-grid{
    margin-top: 2em;
  }
  
  .project-description-grid{
    grid-template-columns: 1fr;
    gap: 0;
  }

  .project-description-grid .dm-sans-header{
    margin-bottom: 0;
  }

  .footer-divider{
    width: 100%;
    height: 2px;
    margin-top: 3em;
  }

  #scotia-empower-page .footer-divider{
    display: none;
  }

  .footer-grid{
    grid-template-columns: 1fr;
    gap: 1em;
    width: 100%;
    margin-top: 1em;
  }

  .footer-icons{
    justify-self: start;
    gap: 1rem;
  }

  .footer-icons .email{
    width: 30px;
    height: 30px;
  }
  
  .footer-icons .linkedin{
    width: 30px;
    height: 30px;
  }
  
  .footer-icons .github {
    width: 30px;
    height: 30px;
  }


}