@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2F2D61;
  color: #D4D0FF;
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 103px;
  display: flex;
  background: linear-gradient(0deg, rgba(47, 45, 97, 0.00) 0%, rgba(47, 45, 97, 0.30) 13%, rgba(47, 45, 97, 0.60) 29%, rgba(47, 45, 97, 0.80) 53.5%, #2F2D61 100%);
  flex-shrink: 0; 
  z-index: 1000;
}

.dm-sans-header {
  color: #D4D0FF;
  font-family: "DM Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  height: 100%;
  display: flex;
}